# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
bin/
dist/

# dotenv environment variables file
.env

# IDE settings
.idea
.vscode

# Testing
coverage

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# npm package files
*.tgz
